<?xml version="1.0" encoding="UTF-8"?>
<document type="com.apple.InterfaceBuilder3.CocoaTouch.XIB" version="3.0" toolsVersion="17701" targetRuntime="iOS.CocoaTouch" propertyAccessControl="none" useAutolayout="YES" useTraitCollections="YES" useSafeAreas="YES" colorMatched="YES">
    <device id="retina6_1" orientation="portrait" appearance="light"/>
    <dependencies>
        <deployment identifier="iOS"/>
        <plugIn identifier="com.apple.InterfaceBuilder.IBCocoaTouchPlugin" version="17703"/>
        <capability name="collection view cell content view" minToolsVersion="11.0"/>
        <capability name="documents saved in the Xcode 8 format" minToolsVersion="8.0"/>
    </dependencies>
    <objects>
        <placeholder placeholderIdentifier="IBFilesOwner" id="-1" userLabel="File's Owner"/>
        <placeholder placeholderIdentifier="IBFirstResponder" id="-2" customClass="UIResponder"/>
        <collectionViewCell opaque="NO" clipsSubviews="YES" multipleTouchEnabled="YES" contentMode="center" id="fSr-JM-9vD" customClass="{{ module_info.name }}CollectionCell" customModuleProvider="target">
            <rect key="frame" x="0.0" y="0.0" width="81" height="76"/>
            <autoresizingMask key="autoresizingMask" flexibleMaxX="YES" flexibleMaxY="YES"/>
            <collectionViewCellContentView key="contentView" opaque="NO" clipsSubviews="YES" multipleTouchEnabled="YES" contentMode="center" insetsLayoutMarginsFromSafeArea="NO" id="4ji-LW-DQk">
                <rect key="frame" x="0.0" y="0.0" width="81" height="76"/>
                <autoresizingMask key="autoresizingMask"/>
                <subviews>
                    <label opaque="NO" userInteractionEnabled="NO" contentMode="left" horizontalHuggingPriority="251" verticalHuggingPriority="251" text="Label" textAlignment="center" lineBreakMode="tailTruncation" baselineAdjustment="alignBaselines" adjustsFontSizeToFit="NO" translatesAutoresizingMaskIntoConstraints="NO" id="If3-Z3-sJ2">
                        <rect key="frame" x="0.0" y="0.0" width="81" height="76"/>
                        <color key="backgroundColor" white="0.0" alpha="0.0" colorSpace="custom" customColorSpace="genericGamma22GrayColorSpace"/>
                        <fontDescription key="fontDescription" type="system" pointSize="17"/>
                        <nil key="textColor"/>
                        <nil key="highlightedColor"/>
                    </label>
                </subviews>
                <constraints>
                    <constraint firstAttribute="bottom" secondItem="If3-Z3-sJ2" secondAttribute="bottom" id="Uzm-Eh-pmv"/>
                    <constraint firstAttribute="trailing" secondItem="If3-Z3-sJ2" secondAttribute="trailing" id="Xs5-cl-g2k"/>
                    <constraint firstItem="If3-Z3-sJ2" firstAttribute="top" secondItem="4ji-LW-DQk" secondAttribute="top" id="tXA-ow-sEY"/>
                    <constraint firstItem="If3-Z3-sJ2" firstAttribute="leading" secondItem="4ji-LW-DQk" secondAttribute="leading" id="zBQ-ds-H5E"/>
                </constraints>
            </collectionViewCellContentView>
            <size key="customSize" width="81" height="76"/>
            <point key="canvasLocation" x="-203.62318840579712" y="46.205357142857139"/>
        </collectionViewCell>
    </objects>
</document>